*{
    margin: 0;
}
.page-wrapper{
    width: 100%;
}
.flex-container{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
}
.box-a{
    width: 1229px;
    border: 5px solid skyblue;
    border-radius: 30px;
    background-color: gray;
    line-height: 20vh;
    text-align: center;
    margin-bottom: 10px;
}
.box-b{
    width: 245px;
    background-color: gray;
    line-height: 46vh;
    text-align: center;
    border: 5px solid skyblue;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.box-c{
    width: 674px;
    background-color: gray;
    line-height: 46vh;
    text-align: center;
    border: 5px solid skyblue;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.box-d{
    width: 245px;
    background-color: gray;
    line-height: 46vh;
    text-align: center;
    border: 5px solid skyblue;
    border-radius: 30px;
    margin-bottom: 10px;
}
.box-e{
    width: 1229px;
    background-color: gray;
    line-height: 20vh;
    text-align: center;
    border: 5px solid skyblue;
    border-radius: 30px;
}
@media screen and (max-width: 616px) {
   .box-b{
       display: none;
   }
   .box-d{
       width: 1229px;
       line-height:  20vh;
   }
    
}